/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        CMB_LBRK {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <14 15>;
        };

        CMB_LPAR {
            bindings = <&kp KP_LEFT_PARENTHESIS>;
            key-positions = <15 16>;
        };

        CMB_TAB {
            bindings = <&kp TAB>;
            key-positions = <14 16>;
        };

        CMB_RBRK {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <20 21>;
        };

        CMB_RPAR {
            bindings = <&kp KP_RIGHT_PARENTHESIS>;
            key-positions = <20 19>;
        };

        CMB_BKSPC {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 21>;
        };

        CMB_ESC {
            bindings = <&kp ESC>;
            key-positions = <2 3>;
        };

        CMB_GRAVE_TILDE {
            bindings = <&kp GRAVE>;
            key-positions = <9 8>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -------------------------------------    ----------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |     |    |     |  Y  |  U  |  I  |  O  |  P  |
            // | LC/A| LS/S|  D  |  F  |  G  |     |    |     |  H  |  J  |  K  | RS/L| RC/;|
            // |  Z  |  X  |  C  |  V  |  B  |     |    |     |  N  |  M  |  ,  |  .  |  /  |
            // |                 | GUI | LWR | SPC |    | ENT | RSE | ALT |                 |
            // -------------------------------------    ----------------------------------

            label = "Base";
            bindings = <
&none        &kp Q         &kp W     &kp E      &kp R      &kp T      &kp Y      &kp U      &kp I         &kp O           &kp P  &none
&none  &hm LCTRL A  &hm LSHIFT S     &kp D      &kp F      &kp G      &kp H      &kp J      &kp K  &hm RSHIFT L  &hm RCTRL SEMI  &none
&none        &kp Z         &kp X     &kp C      &kp V      &kp B      &kp N      &kp M  &kp COMMA       &kp DOT        &kp FSLH  &none
                                  &kp LGUI  &mo LOWER  &kp SPACE    &kp RET  &mo RAISE   &kp RALT
            >;
        };

        lower_layer {
            // -------------------------------------    -------------------------------------
            // |  1  |  2  |  3  |  4  |  5  |     |    |     |  6  |  7  |  8  |  9  |  0  |
            // | BT1 | BT2 | BT3 | BT4 | BT5 |     |    |     | LFT | DWN |  UP | RGT |     |
            // |     |     |     |     |     |     |    |     |     |     |     |     |     |
            // |                 | GUI |     | SPC |    | ENT |     | ALT |                 |
            // -------------------------------------    -------------------------------------

            label = "Lower";
            bindings = <
&none        &kp N1        &kp N2        &kp N3        &kp N4        &kp N5      &kp N6    &kp N7    &kp N8     &kp N9  &kp N0  &none
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LEFT  &kp DOWN    &kp UP  &kp RIGHT  &trans  &none
&none        &trans        &trans        &trans        &trans        &trans     &kp INS   &kp DEL  &kp HOME    &kp END  &trans  &none
                                       &kp LGUI        &trans     &kp SPACE     &kp RET    &trans  &kp RALT
            >;
        };

        raise_layer {
            // -------------------------------------    -------------------------------------
            // |  !  |  @  |  #  |  $  |  %  |     |    |     |  ^  |  &  |  *  |  (  |  )  |
            // |     |     |     |     |     |     |    |     |  -  |  =  |  [  |  ]  |  \  |
            // |     |     |     |     |     |     |    |     |  _  |  +  |  {  |  }  | "|" |
            // |                 | GUI |     | SPC |    | ENT |     | ALT |                 |
            // -------------------------------------    ------------------------------------|

            label = "Raise";
            bindings = <
&none  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET   &kp AMPS  &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &none
&none    &trans  &trans    &trans    &trans     &trans    &kp MINUS  &kp EQUAL         &kp LBKT  &kp RBKT  &kp BSLH  &none
&none    &trans  &trans    &trans    &trans     &trans    &kp UNDER   &kp PLUS         &kp LBRC  &kp RBRC  &kp PIPE  &none
                         &kp LGUI    &trans  &kp SPACE      &kp RET     &trans         &kp RALT
            >;
        };
    };
};
